
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <h3>Author:  Saeed Bagherinejad</h3>
    <br>
    <h3>Website Functionality:  This website is designed to randomly generate password with user-specified characteristics.</h3>
    <br>
    <h3>Options: </h3>
    <h4>         1. Password Length</h4>
    <h4>         2. Uppercase -->  It defines if the password should include upper-case characters or not. </h4>
    <h4>         3. Numbers --> It defines if the password should include numbers or not.</h4>
    <h4>         4. Special Characters --> It defines if the password should include special characters or not.</h4>
    <h4>            Special characters include the following set: { ~!@#$%^&*()_+=- }</h4>
    <br>
    <a href="{% url 'homepage' %}"><-- Back to homepage</a>
</body>
</html>